/* CSS for website */
.book .book-summary ul.summary li {
    transition: all 0.5s ease;
    color: #444343;
}
.book .book-summary ul.summary li a:hover {
    color: #a1a1a1;
}
/* header section */
div.book-body div div.book-header {
    background-color: #0495c2;
}
div.book-header h1 {
  color: #000;
  font-size:50px;
  
}
