/* CSS for website */
.book .book-summary ul.summary li a {
    transition: all 0.5s ease;
    color: white;
}
.book .book-summary ul.summary li a:hover {
    color: #e5e2e2;
}
.book .book-summary ul.summary {
    
    background-color: #0495c2;
}
div.book-summary nav ul li:nth-child(1) a {
    
}
div.book-body div div.book-header {
    background-color: #4fb4d4;
}
div.book-body div div.book-header h1 {
    text-shadow: 0 1px 0 #ccc,
05
 0 2px 0 #c9c9c9,
06
 0 3px 0 #bbb,
07
 0 4px 0 #b9b9b9,
08
 0 5px 0 #aaa,
09
 0 6px 1px rgba(0,0,0,.1),
10
 0 0 5px rgba(0,0,0,.1),
11
 0 1px 3px rgba(0,0,0,.3),
12
 0 3px 5px rgba(0,0,0,.2),
13
 0 5px 10px rgba(0,0,0,.25),
14
 0 10px 10px rgba(0,0,0,.2),
15
 0 20px 20px rgba(0,0,0,.15);

    
}