/* CSS for website */
.book .book-summary ul.summary li a {
    transition: all 0.5s ease;
    color: white;
}
.book .book-summary ul.summary li a:hover {
    color: #e5e2e2;
}
.book .book-summary ul.summary {
    
    background-color: #0495c2;
}
div.book-summary nav ul li:nth-child(1) a {
    
}
div.book-body div div.book-header {
    background-color: #4fb4d4;
}
div.book-body div div.book-header h1 {
  

    
}
div.book-summary nav ul li {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out; 
}