/* CSS for website */
.book .book-summary ul.summary {
    transition: all 0.5s ease;
    color: white;
}
.book .book-summary ul.summary li a:hover,
.book .book-summary ul.summary li articles a:hover {
    color: #444343;
}
.book .book-summary ul.summary li a:visited,
.book .book-summary ul.summary li articles a:visited {
    color: #fff;
}
.book .book-summary ul.summary li a:active,
.book .book-summary ul.summary li articles a:active {
    color: #fff;
}
.book .book-summary ul.summary {
    
    background-color: #0495c2;
}
/* header section */
div.book-body div div.book-header {
    background-color: #4fb4d4;
}
div.book-body div div.book-header h1 {
  
    
}