/* CSS for website */
.book .book-summary ul.summary li a {
    transition: all 0.5s ease;
    color: white;
}
.book .book-summary ul.summary li a:hover {
    color: #e5e2e2;
}
.book .book-summary ul.summary li a:visited {
    color: white;
}
.book .book-summary ul.summary li a:active {
    color: white;
}
.book .book-summary ul.summary {
    
    background-color: #0495c2;
}
div.book-summary nav ul li:nth-child(1) a {
    
}
div.book-body div div.book-header {
    background-color: #4fb4d4;
}
div.book-body div div.book-header h1 {
  

    
}
div.book-summary nav ul {
    list-style-type: circle;
}