/* CSS for website */
.book .book-summary ul.summary li {
    transition: all 0.5s ease;
    color: #444343;
}
.book .book-summary ul.summary li a:hover {
    color: #fff;
}
/* header section */
div.book-body div div.book-header {
    background-color: #0495c2;
}