/* CSS for website */
.book .book-summary ul.summary li a {
    transition: all 0.5s ease;
    color: white;
}
.book .book-summary ul.summary a:hover {
    color: #e5e2e2;
}
.book .book-summary ul.summary a:visited {
    color: white;
}
.book .book-summary ul.summary a:active {
    color: white;
}
.book .book-summary ul.summary {
    
    background-color: #0495c2;
}
/* header section */
div.book-body div div.book-header {
    background-color: #4fb4d4;
}
div.book-body div div.book-header h1 {
  
    
}