/* CSS for website */
.book .book-summary ul.summary li {
    transition: all 0.5s ease;
    color: #444343;
}
.book .book-summary ul.summary li a:hover {
    color: #a1a1a1;
}
/* header section */
div.book-body div div.book-header {
    background-color: #0495c2;
}
div.book-header h1 {
  color: #fff;
  position: relative;
 }
div.book-header h1 a {
    text-decoration: none;
    position: absolute;
     -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}
div.book-header h1 a:after {
    content : 'Rooof User Manual';
    color: #d6d6d6;
        text-shadow: 0 1px 0 white;
}