/* CSS for website */
.book .book-summary ul.summary li a {
    transition: all 0.5s ease;
    color: white;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
.book .book-summary ul.summary li a:hover {
    color: #bfbfbf;
}
.book .book-summary ul.summary {
    
    background-color: #0495c2;
}