/* CSS for website */
.book .book-summary ul.summary li {
    transition: all 0.5s ease;
    color: #444343;
}
.book .book-summary ul.summary li a:hover {
    color: #a1a1a1;
}
/* header section */
div.book-body div div.book-header {
    background-color: #0495c2;
}
div.book-body div div.book-header h1 {
  color: #000;
  font-size:50px;
  
}
div.book-body div div.book-header h1 a {
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));
}