/* CSS for website */
.book .book-summary ul.summary li a {
    transition: all 0.5s ease;
    color: white;
}
.book .book-summary ul.summary li a:hover a:visited {
    color: #bfbfbf;
}
.book .book-summary ul.summary {
    
    background-color: #0495c2;
}
div.book-summary nav ul li:nth-child(1) a {
    
}