/* CSS for website */
.book .book-summary ul.summar {
    margin: 12px;
    padding: 0;
}
.book .book-summary ul.summary li {
    transition: color 0.5s ease;
    color: #d5d4cd;
    margin: 0 0 12px 0;
    font-size: .9em;
    line-height: 1em;
}
.book .book-summary ul.summary li a:hover {
    color: #a1a1a1;
}
/* header section */
div.book-body div div.book-header {
    background-color: #0495c2;
}
div.book-header h1 {
    color: #fff;
    text-decoration: none;
}
.book .book-body .page-wrapper, 
.book .book-body, .book .book-body .body-inner,
.book .book-body .page-wrapper .page-inner {
   background-color:#EDECE4;
}
page-inner img {
    box-shadow: 10px 10px 5px #888888;
}